.user-card {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1em;
    background-color: rgb(30, 30, 30);
    padding: 1em;
    border-radius: 1em;
}

.user-avatar {
    width: 5em;
    height: 5em;
    border-radius: 1em;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-data-name {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.country-img {
    height: 1.5em;
}

.user-name {
    display: inline-block;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}